<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.bbc.co.uk/food/recipes">News</a></li>
    </ul>
  </nav>
</footer>
